@media screen and (min-width: 768px){
    span#burguer{
        display: none;
    }

    menu{
        display: block;
        text-align: center;
    }

    menu ul li{
        display: inline-block;
    }

    menu ul li a{
        margin-right: 15px;
    }

    main{
        width: 768px;
    }
}